version: '3.8'

services:
  mlflow:
    build: .
    ports:
      - "5000:5000"
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000

  fastapi:
    build: .
    ports:
      - "8000:8000"

  streamlit:
    build: .
    ports:
      - "8501:8501"

  optuna:
    build: .
    ports:
      - "8080:8080"
